@import "./theme";
@import "./icon";
@import "./layout";
@import "./transition";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;

    -webkit-tap-highlight-color: transparent;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial,
        PingFang SC, Hiragino Sans GB, Microsoft YaHei, Source Han Sans SC,
        WenQuanYi Micro Hei, sans-serif;
    // min-height: 100vh;
    color: $black;
    font-size: 16px;
}

.container {
    height: 100%;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:hover,
    &:visited {
        color: inherit;
    }
}

// color & background-color
@each $name,
    $color
        in (
            black: $black,
            white: $white,
            basic: $basic,
            second: $second,
            main: $main,
            success: $success,
            warning: $warning,
            danger: $danger,
            error: $error,
            active: $active,
            dark: $dark,
            disabled: $disabled,
            page: $dark,
            gray: $gray,
            text: $text
        )
{
    .cl-#{ "" + $name } {
        color: $color;
    }
    .bcl-#{ "" + $name } {
        background-color: $color;
    }

    // 全阴影
    .#{ "" + $name }-shadow {
        box-shadow: 0 0 6px 2px $color;
    }

    // 下阴影
    .#{ "" + $name }-shadow-bottom {
        box-shadow: 0px 2px 6px 2px $color;
    }
}

// 字体大小
@for $i from 12 through 50 {
    .fs-#{$i} {
        font-size: $i + px;
    }
}

// ---- 边距 ----
@for $i from 1 through 20 {
    .mt-#{$i * 5} {
        margin-top: $i * 5px;
    }
    .mr-#{$i * 5} {
        margin-right: $i * 5px;
    }
    .mb-#{$i * 5} {
        margin-bottom: $i * 5px;
    }
    .ml-#{$i * 5} {
        margin-left: $i * 5px;
    }
    .m-#{$i * 5} {
        margin: $i * 5px;
    }
    .pt-#{$i * 5} {
        padding-top: $i * 5px;
    }
    .pr-#{$i * 5} {
        padding-right: $i * 5px;
    }
    .pb-#{$i * 5} {
        padding-bottom: $i * 5px;
    }
    .pl-#{$i * 5} {
        padding-left: $i * 5px;
    }
    .p-#{$i * 5} {
        padding: $i * 5px;
    }
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

// 主题色外发光
.theme-shadow {
    box-shadow: 0 0 4px 4px $main;
}

/* 超出隐藏 */

// 单行省略
.text-hidden {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 两行省略
.text-hidden-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.over-hidden{
    overflow: hidden;
}

// 按钮默认样式
button {
    display: inline-block;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-sizing: content-box;
    letter-spacing: 1px;
    // // 点击反馈
    // &:active {
    //     filter: brightness(0.8);
    //     transform: scale(0.95);
    // }
}

// mask 遮罩
.cr-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

// 交互反馈
.pointer {
    cursor: pointer;
    &:active {
        background: #f2f3f5;
    }
}

// 边框
.border-all {
    border: 1px solid $border;
}

.border-left {
    border-left: 1px solid $border;
}

.border-bottom {
    border-bottom: 1px solid $border;
}

.border-top {
    border-top: 1px solid $border;
}

.border-right {
    border-right: 1px solid $border;
}

.border-bold {
    border-width: 5px;
}

.border-bolder {
    border-width: 10px;
}
