/**
 * 主题颜色
 */

$black: #323233;
$white: #fff;
$basic: #545c64;
$gray: #f8f8f8;
$second: #bbbbc4;
$main: #6190e8;
$success: #13ce66;
$warning: #ffcc00;
$danger: #ff4949;
$error: #ff1839;
$border: #eee;
$disabled: #c8c9cc;
$active: #f2f3f5;
$dark: #e8e8e8;
$text: #969799;
