/**
 * 主题颜色
 */

 $black: #323233;
 $white: #fff;
 $basic: #545c64;
 $gray: #f8f8f8;
 $second: #bbbbc4;
 $main: #1989fa;
 $success: #3bba7c;
 $warning: #ffcc00;
 $danger: #F56C6C;
 $error: #ff1839;
 $border: #eee;
 $disabled: #c8c9cc;
 $active: #f2f3f5;
 $dark: #e8e8e8;