/**
 * 主题颜色
 */

 $cl-black: #323233;
 $cl-white: #fff;
 $cl-basic: #545c64;
 $cl-gray: #f8f8f8;
 $cl-second: #bbbbc4;
 $cl-main: #1989fa;
 $cl-success: #3bba7c;
 $cl-warning: #ffcc00;
 $cl-danger: #F56C6C;
 $cl-error: #ff1839;
 $cl-border: #eee;
 $cl-disabled: #c8c9cc;
 $cl-active: #f2f3f5;
 $cl-dark: #e8e8e8;