//渐隐渐现
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s linear;
}

//上滑
.slide-up-enter,
.slide-up-leave-to {
    transform: translateY(100%);
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition: transform 0.3s linear;
}